body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul {
    display:flex;
    list-style-type:none;
    gap: 16px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.tigerlogo {
    width: 32px;
}

.header {
    height: 40px;
    font-size: 24px;
    font-weight: 900;
    background: #1F2937;
    color: #f9faf8;
    display: flex;
    padding: 8px 350px;
    align-items: center;
}

.logo {
    margin-right: auto;
    display: flex;
    gap: 20px;
}


.rightside {
    display:flex;
}

.one {
    height: 600px;
    background: #1F2937;
    display: flex;
    padding: 8px 350px;
    justify-content: space-around;
    align-items: center;
    gap: 8px;

}

.tiger {
    width: 600px;
}

.firsttext {
    font-size: 48px;
    font-weight:800;
    color: #F9FAF8;
    margin-bottom: 16px;


}

.secondtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;

}

.button1 {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 5px;
    width: 90px;
    height: 30px;
    font-size: 16px;
    font-weight:bold;
    border-radius: 5px;

}

.two {
    height: 700px;
    background: white;
    padding: 45px 350px;
}

.titletwo {
    color:#1F2937;
    font-weight:800;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.information {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    gap: 40px;

}

.information1 {
    display: flex;
    flex-direction: column;
}

.pictureoftigers {
    height: 200px;
}

.subtext {
    display:flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
}

.three {
    height: 350px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 45px 350px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.quote {
    font-size: 36px;    
    color: #1F2937;

}

.who {
    margin-left:auto;
    font-size: 24px;
    font-weight: bold;

}

.four {
    height: 400px;
    padding: 150px 400px;
    
}

.container {
    height:5px;
    border-radius: 10px;
    background-color: #3882F6;
    justify-content:space-around;
    align-items: center;
    padding: 60px 100px;
    display: flex;
    gap: 16px;
}

.button2 {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    padding: 5px;
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.l {
    display:flex;
    flex-direction:column;
    gap: 8px;
}

.onee {
    font-size: 24px;
    font-weight:bold;
    color:white;
}

.twoo {
    font-size: 18px;
    color:white;
}